<h1>記事の更新</h1>

<%= form_for :article, url: article_path, method: :patch do |f| %>
  <% if @article.errors.any?%>
    <%= @article.errors.count %>個のエラーあります<br>
    <% @article.errors.full_messages.each do |msg|%>
      <%= msg %><br>
    <% end %>
  <% end %>

  <%= f.text_field :title %><br>
  <%= f.text_area :text %><br>
  <%= f.submit %>
<% end %>